<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<title>Student Registration Form</title>
<body>

<h1> Student Registration Form</h1><br/><br/>

<form th:action = "@{/processStudentForm}" th:object="${student}" method="POST">
    first name:
    <input type = "text" th:field = "*{firstName}"></input>
    <br>
    <br>
    last name:
    <input type = "text" th:field = "*{lastName}"></input>
    <br>
    <br>
    country:
    <select th:field = "*{country}">Country:
        <option th:value="Brazil">Brazil</option>
        <option th:value="Mexico">Mexico</option>
        <option th:value="India">India</option>

    </select>
    <br/>
    <br/>
    Favourite Language:
    <input type = "radio" th:field = "*{favouriteLanguage}" th:value = "Java" th:text = "Java"/>
    <input type = "radio" th:field = "*{favouriteLanguage}" th:value = "Rust" th:text = "Rust"/>
    <input type = "radio" th:field = "*{favouriteLanguage}" th:value = "'Go Lang'" th:text = "'Go Lang'"/>
    <br/>
    <br/>
    Favourite Systems:
    <input type = "checkbox" th:field = "*{favouriteSystems}" th:value = "Windows" th:text = "Windows"/>
    <input type = "checkbox" th:field = "*{favouriteSystems}" th:value = "MAC" th:text = "MAC"/>
    <input type = "checkbox" th:field = "*{favouriteSystems}" th:value = "'Fedora OS'" th:text = "'Fedora OS'"/>
    <br/>
    <br/>
    <input type =  "submit" value = "Submit"></input>
</form>

<h1>Form with dynamic values read from properties file</h1>

<form th:action = "@{/processStudentForm}" th:object="${student}" method="POST">
    first name:
    <input type = "text" th:field = "*{firstName}"></input>
    <br>
    <br>
    last name:
    <input type = "text" th:field = "*{lastName}"></input>
    <br>
    <br>
    Country:
    <select th:field = "*{country}">
        <option th:each = "tempCountry : ${countries}" th:value="${tempCountry}" th:text = "${tempCountry}"/>
    </select>
    <br/>
    <br/>
    Favourite Language:
    <input type = "radio" th:field = "*{favouriteLanguage}" th:each = "language : ${languages}" th:value = "${language}" th:text = "${language}"></input>
    <br/>
    <br/>
    Favourite Systems:
    <input type = "checkbox" th:each = "favouriteSystem : ${systems}" th:field = "*{favouriteSystems}" th:value = "${favouriteSystem}" th:text = "${favouriteSystem}"></input>
    <br/>
    <br/>
    <input type =  "submit" value = "Submit"></input>
</form>
</body>

</html>